<include file="Public:header" title='关于我，关于本程序'/>
<style>
a:hover
{color:red;
text-decoration:none;
}
</style>
<div class="wrap">
	<div class="share">
		<h1 style="text-align:center">尽情享受本程序给你带来的快乐或者痛苦</h1>
		<p><a href="http://biaobai.bengbuxueyuan.com">蚌院微表白</a></p>
        
		<p><strong>管理员：</strong><br /><br />亲爱的小伙伴们，蚌院表白墙是服务全蚌院学子的一个开放平台，希望小伙伴们共同维护这个平台。由于技术上的不足，平台暂时无法提供更好的服务，为防止灌水，暂时一小时只能发一贴。如果平台有做的不足的地方，敬请见谅，谢谢大家了……（注：如有特殊需求，请联系管理员！）</p><br/>
        <p>网址:<a href="http://biaobai.bengbuxueyuan.com">biaobai.bengbuxueyuan.com</a></p>
        <p>下载：<a href="http://www.appbsl.com/index.php?ctl=app_download&code=vbC0hrfYtMjA4ODctLTA" target="_blank">点击下载<strong>表白墙</strong>客户端</a>（安卓4.4以上，ios9以上）<strong><a href="http://biaobai.bengbuxueyuan.com/ios.html">点击进入ios端安装方法</a></strong></p>

        <!--<p>自定义：<strong>点击进入</strong><strong><a href="http://love.woxihuanni.ren" target="_blank">自定义表白</a> 设计页面</strong>（电脑访问效果更好）</strong></p>-->
        <br/>
	    <p>本网站源码来自开源平台，由<strong>巧遇人生</strong>修改、整理，如有侵权，请<a href="mailto:qiaoyurensheng@163.com">联系我们。</a></p><br/>
		
		<p>天下妹子那么多，为啥独我没有女朋友!</p><br/>
		<p>所以啊</p>
		<p>单身妹子请联系我。</p>
		<p>姓名：巧遇人生</p>		<p>电话：<a href="tel:17730075965">17730075965</a>  <a href="tel:17730075965">（电话）</a>  <a href="sms:17730075965">（短信）</a></p>
		<p>邮箱：<a href="mailto:qiaoyurensheng@163.com">qiaoyurensheng@163.com</a></p>
		<p>QQ号：<a href="http://qm.qq.com/cgi-bin/qm/qr?k=YOYYIp16YQcmjkBRv-rk0SQopV3H_K10">1848614364</a></p>
	</div>
</div>
</div>
<include file="Public:footer" title='欢迎使用'/>

